src/conf/xml-resources/web-service-references/MessagesWS/wsdl/localhost_8080/MessagesWS/MessagesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.chat/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.chat/">

<xs:element name="getAllMessages" type="tns:getAllMessages"/>

<xs:element name="getAllMessagesResponse" type="tns:getAllMessagesResponse"/>

<xs:element name="getTopicMessages" type="tns:getTopicMessages"/>

<xs:element name="getTopicMessagesResponse" type="tns:getTopicMessagesResponse"/>

<xs:element name="getUserMessages" type="tns:getUserMessages"/>

<xs:element name="getUserMessagesResponse" type="tns:getUserMessagesResponse"/>

<xs:complexType name="getUserMessages">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:messageDAO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="messageDAO">
<xs:sequence>
<xs:element name="dateSent" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
<xs:element name="topic" type="tns:topicDAO" minOccurs="0"/>
<xs:element name="user" type="tns:userDAO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topicDAO">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="messages" type="tns:messageDAO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userDAO">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="messages" type="tns:messageDAO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMessages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:messageDAO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTopicMessages">
<xs:sequence>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTopicMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:messageDAO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>