web/WEB-INF/wsdl/localhost_8080/MessagesWS/MessagesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.chat/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.chat/" name="MessagesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.chat/" schemaLocation="http://localhost:8080/MessagesWS/MessagesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserMessages">
<part name="parameters" element="tns:getUserMessages"/>
</message>
<message name="getUserMessagesResponse">
<part name="parameters" element="tns:getUserMessagesResponse"/>
</message>
<message name="getTopicMessages">
<part name="parameters" element="tns:getTopicMessages"/>
</message>
<message name="getTopicMessagesResponse">
<part name="parameters" element="tns:getTopicMessagesResponse"/>
</message>
<message name="getAllMessages">
<part name="parameters" element="tns:getAllMessages"/>
</message>
<message name="getAllMessagesResponse">
<part name="parameters" element="tns:getAllMessagesResponse"/>
</message>
<portType name="MessagesWS">
<operation name="getUserMessages">
<input wsam:Action="http://ws.chat/MessagesWS/getUserMessagesRequest" message="tns:getUserMessages"/>
<output wsam:Action="http://ws.chat/MessagesWS/getUserMessagesResponse" message="tns:getUserMessagesResponse"/>
</operation>
<operation name="getTopicMessages">
<input wsam:Action="http://ws.chat/MessagesWS/getTopicMessagesRequest" message="tns:getTopicMessages"/>
<output wsam:Action="http://ws.chat/MessagesWS/getTopicMessagesResponse" message="tns:getTopicMessagesResponse"/>
</operation>
<operation name="getAllMessages">
<input wsam:Action="http://ws.chat/MessagesWS/getAllMessagesRequest" message="tns:getAllMessages"/>
<output wsam:Action="http://ws.chat/MessagesWS/getAllMessagesResponse" message="tns:getAllMessagesResponse"/>
</operation>
</portType>
<binding name="MessagesWSPortBinding" type="tns:MessagesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopicMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MessagesWS">
<port name="MessagesWSPort" binding="tns:MessagesWSPortBinding">
<soap:address location="http://localhost:8080/MessagesWS/MessagesWS"/>
</port>
</service>
</definitions>