src/java/META-INF/MessagesWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.chat/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.chat/" name="MessagesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.chat/" schemaLocation="http://localhost:8080/MessagesWS/MessagesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello4">
<part name="parameters" element="tns:hello4"/>
</message>
<message name="hello4Response">
<part name="parameters" element="tns:hello4Response"/>
</message>
<message name="hello2">
<part name="parameters" element="tns:hello2"/>
</message>
<message name="hello2Response">
<part name="parameters" element="tns:hello2Response"/>
</message>
<message name="hello3">
<part name="parameters" element="tns:hello3"/>
</message>
<message name="hello3Response">
<part name="parameters" element="tns:hello3Response"/>
</message>
<portType name="MessagesWS">
<operation name="hello4">
<input wsam:Action="http://ws.chat/MessagesWS/hello4Request" message="tns:hello4"/>
<output wsam:Action="http://ws.chat/MessagesWS/hello4Response" message="tns:hello4Response"/>
</operation>
<operation name="hello2">
<input wsam:Action="http://ws.chat/MessagesWS/hello2Request" message="tns:hello2"/>
<output wsam:Action="http://ws.chat/MessagesWS/hello2Response" message="tns:hello2Response"/>
</operation>
<operation name="hello3">
<input wsam:Action="http://ws.chat/MessagesWS/hello3Request" message="tns:hello3"/>
<output wsam:Action="http://ws.chat/MessagesWS/hello3Response" message="tns:hello3Response"/>
</operation>
</portType>
<binding name="MessagesWSPortBinding" type="tns:MessagesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MessagesWS">
<port name="MessagesWSPort" binding="tns:MessagesWSPortBinding">
<soap:address location="http://localhost:8080/MessagesWS/MessagesWS"/>
</port>
</service>
</definitions>